@import url('http://fonts.googleapis.com/css?family=Monoton');

#panelOne {
	height: 100%;
	width: 100%;
	background: url('../images/usflag.png');
	background-size: cover;
}

#explanation {
	position: absolute;
	top: 20%;
	right: 53%;
	height: calc(55% - 30px);
	width: calc(35% - 10px);
	background: #EEE;
	overflow-y: scroll;
	border-top: 15px solid #EEE;
	border-bottom: 15px solid #EEE;
	border-left: 5px solid #EEE;
	border-right: 5px solid #EEE;

}

#explanation p {
	padding: 5px 15px 5px 15px;
}

#explanation .symbol {
	font-size: 25px;
	font-weight: bold;
}

#explanation .quote {
	background-color: #FFF;
	font-size: 13px;
	color: #888;
	line-height: 21px;
	vertical-align: top;
}

#explanation .speaker {
	text-transform: uppercase;
	float: right;
	color: #888;
}

#title {
	position: absolute;
	bottom: 25%;
	left: 48%;
	width: 35%;
	font-family: 'Monoton';
	font-size: 92px;
	color: #FFF;
	line-height: 1.0;
}

#enterButton {
	transition: all 0.5s ease;
	position: absolute;
	bottom: 25%;
	right: 12%;
	padding: 6px 18px 6px 18px;
	border: 2px solid #FFF;
	background-color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	color: #888;
}

#enterButton:hover {
	transition: all 0.5s ease;
	background-color: transparent;
	color: #FFF;
}