#panelThree {
	height: calc(100% - 30px);
	width: calc(100% - 10px);
	overflow-y: scroll;
	border-top: 15px solid #FFF;
	border-bottom: 15px solid #FFF;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
}

#placeholder {
	position: absolute;
	top: 150px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 294px;
	height: 124px;
	background: #EEE;
}

#placeholder div {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 7px auto;
	width: 250px;
	height: 80px;
	background: #EEE;
	padding: 15px;
	border: 1px solid #FFF;
}

#placeholder h1 {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #888;
	line-height: 21px;
	text-align: left;
	text-indent: 5px;
	background-color: #FFF;
}

.panelHeading {
	text-transform: uppercase;
	font-weight: bold;
	color: #888;
	line-height: 21px;
	text-indent: 5px;
	background-color: #EEE;
}

.chartTitle {
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	margin: 5px 0px 5px 0px;
	text-transform: uppercase;
	line-height: 21px;
	clear: both;
}

.disclaimerText {
	color: #888;
	width: 70%;
	margin: 0px auto;
	padding: 10px 3px 5px 3px;
	text-align: center;
}

.contribChart,
.industryChart {
	margin: 5px 10px 20px 10px;
	height: 350px;
}

.contribChart .ct-bar,
.industryChart .ct-bar {
	stroke-width: 10px;
}

.ct-series.ct-series-a .ct-bar,
.ct-series.ct-series-a .ct-slice-pie,
.legend-series-0 {
	stroke: #5bc0de;
	fill: #5bc0de;
	background-color: #5bc0de;
}
.ct-series.ct-series-b .ct-slice-pie,
.legend-series-1 {
	stroke: #795ADD;
	fill: #795ADD;
	background-color: #795ADD;
}
.ct-series.ct-series-c .ct-slice-pie,
.legend-series-2 {
	stroke: #DD5A7D;
	fill: #DD5A7D;
	background-color: #DD5A7D;
}
.ct-series.ct-series-d .ct-slice-pie,
.legend-series-3 {
	stroke: #DDBA5A;
	fill: #DDBA5A;
	background-color: #DDBA5A;
}
.ct-series.ct-series-e .ct-slice-pie,
.legend-series-4 {
	stroke: #5ADD79;
	fill: #5ADD79;
	background-color: #5ADD79;
}
.ct-series.ct-series-f .ct-slice-pie,
.legend-series-5 {
	stroke: #20809D;
	fill: #20809D;
	background-color: #20809D;
}
.ct-series.ct-series-g .ct-slice-pie,
.legend-series-6 {
	stroke: #DA5ADD;
	fill: #DA5ADD;
	background-color: #DA5ADD;
}
.ct-series.ct-series-h .ct-slice-pie,
.legend-series-7 {
	stroke: #9D3D20;
	fill: #9D3D20;
	background-color: #9D3D20;
}
.ct-series.ct-series-i .ct-slice-pie,
.legend-series-8 {
	stroke: #DD795A;
	fill: #DD795A;
	background-color: #DD795A;
}
.ct-series.ct-series-j .ct-slice-pie,
.legend-series-9 {
	stroke: #DBB894;
	fill: #DBB894;
	background-color: #DBB894;
}
.ct-series.ct-series-k .ct-slice-pie,
.legend-series-10 {
	stroke: #5ADDBA;
	fill: #5ADDBA;
	background-color: #5ADDBA;
}
.ct-series.ct-series-l .ct-slice-pie,
.legend-series-11 {
	stroke: #CF2A56;
	fill: #CF2A56;
	background-color: #CF2A56;
}
.ct-series.ct-series-m .ct-slice-pie,
.legend-series-12 {
	stroke: #888;
	fill: #888;
	background-color: #888;
}

.ct-label.ct-vertical {
	color: #000;
	font-size: 11px;
}

.ct-label.ct-vertical a {
	color: #000;
	text-decoration: none;
}

.ct-label.ct-vertical a:hover {
	text-decoration: underline;
}

.ct-label.ct-horizontal {
	color: #000;
	font-size: 11px;
}

.ct-label.ct-horizontal.ct-end {
    display: inline-block;
    width: auto !important;
	transform-origin: 100% 0;
	transform: rotate(-30deg) translateX(-50%) translateY(-60%);
}

.sectorChart {
	margin: 5px 10px 20px 10px;
	height: 350px;
	width: calc(100% - 300px);
	float: left;
}

.sectorChart .ct-label {
	fill: #000;
	font-size: 11px;
}

.list-legend {
	margin: 45px 10px 30px 10px;
	height: 300px;
	width: 250px;
	float: right;
	overflow-y: scroll;
}

.list-legend p {
	float: left;
	clear: right;
	margin: 4px;
}

.legend-square {
	float: left;
	clear: left;
	width: 11px;
	height: 11px;
	margin: 4px;
}