body {
	font-family: arial;
	font-size: 11px;
	letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 50px;
    background: #BBB;
}

#content {
	position: absolute;
	height: 100%;
	width: 70%;
	top: 0px;
	left: 15%;
	background: #FFF;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	overflow: hidden;
}

#navigation {
	position: relative;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #EEE;
	margin: 0;
	padding: 0;
}

.tab-selected {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 160px;
	background: #EEE;
	text-align: center;
}

.tab-not-selected {
	position: relative;
	display: inline-block;
	height: 50px;
	width: 160px;
	background: #FFF;
	text-align: center;
}

#navigation a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #888;
}

.panel {
	width: 100%;
	height: calc(100% - 102px);
}

#bottomBar {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0px;
	border-top: 1px solid #EEE;
	background: #FFF;
}

#firstContainer {
	width: 100%;
	height: 100%;
}

.tooltip {
	text-align: center;
	position: absolute;
	border: 1px solid #EEE;
	padding: 2px 10px 2px 10px;
	color: #888;
	background: #FFF;
	opacity: 1;
	transition: opacity .2s ease;
}

.tooltip.tooltip-hidden {
	opacity: 0;
	transition: opacity .2s ease;
}
